body{
	max-width: 60em;
	margin: auto;
}
a {
	text-decoration: none;
}
a:link{
	color: white;
	background-color: darkgreen;
}
a:visited{
	color: white;
}
a:active{
	color: white;
}
a:hover{
	background-color: green;
	color: white;
}
article{
	flex: 2 2 1em;
}
header,
footer,
aside{
	flex: 1 1 0;
}
.vinstri{
	order: 1;
}
.haegri{
	order: 3;
}
.mid{
	order: 2;
}
.header{
	display: flex;
}
.section{
	display: flex;
	margin: auto;
}
.box{
	padding: 10px 5px 5px 10px;
}
.margin{
	padding: 7px;
}
.bggreen{
	background-color: darkgreen;
}
.bglgreen{
	background-color: lightgreen;
}
.bgred{
	background-color: #E8535A;
}
.bgyellow{
	background-color: #E8D527;
}
.bgblue{
	background-color: #50BDE8;
}
.topmenu{
	border: 1px solid green;
	display: flex;
	margin: auto;
	color: white;
}
.borderleft{
	border-left: 1px solid green;
	padding: 10px;
	text-align: center;
}
.co12{
	width: 200px;
}
.col14{
	width: 250px;
}
.borderright{
	border-right: 1px solid green;
}
.padding{
	padding-left: 55px;
	padding-right: 55px;
}
.paddingleft{
	padding-left: 5px;
}
.abcd{
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 80px;
}
.abcdsize{
	width: 3em;
	height: 3em;
	text-align: center;
	font-size: 1em;
	line-height: 50px;
}